{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h2>Account Information:</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{current_user.user_name }}</li>
    <li class="list-group-item">First Name: {{current_user.first_name }}</li>
    <li class="list-group-item">Last Name: {{current_user.last_name }}</li>
    <li class="list-group-item">Location: {{current_user.location }}</li>
  </ul>
</div>
<div class="container">
  <a href="{{ url_for('modify_account') }}" class="btn btn-primary" role="button">Change Account Details</a>
  <a href="{{ url_for('delete_account') }}" class="btn btn-primary" role="button">Delete Account</a>
</div>

{% endblock content %}