{% extends "layout.html" %}
{% block content %}

  <form id="myForm" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Enter Your Lodging Details Below:</legend>
      <label for="rating">Rating: (1-10)</label>
      <input type="number" id="rating" name="rating" required min="1" max="10"><br><br>
      <label for="cost">Cost: (per night)</label>
      <input type="number" id="cost" name="cost" required min="0"><br><br>
      <label for="comment">Comment: (limit of 60 characters)</label>
      <input type="text" id="comment" name="comment" required minlength="1" maxlength="60"><br><br>
      <input type="submit">
    </fieldset>

  </form>


{% endblock content %}