{% extends "layout.html" %}
{% block content %}

    <p>Please login below:</p>

    {# creates a form for login information #}
    <form id="myForm" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Enter:</legend>
            <label for="user_name">Username:</label>
            <input type="text" id="user_name" name="user_name" required minlength="1"><br><br>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required minlength="1"><br><br>
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name" required minlength="1"><br><br>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required minlength="1"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required minlength="1"><br><br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="text" id="confirm_password" name="confirm_password" required minlength="1"><br><br>
            <input type="submit">
        </fieldset>
    </form>

{% endblock content %}