{% extends "layout.html" %}
{% block content %}

    {% for comment in comments.items %}
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">Comment:</h4>
                    <p>{{ comment.comment_content }}</p>
                </div>
            </div>
        <hr>
    {% endfor %}

    {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if comments.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('tags', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('tags', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}